@font-face {
  font-family: 'Bangers';
  src: url('/assets/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, 'Arial Narrow Bold', sans-serif, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
  color: white;
  background-image: url('/assets/images/body.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

h1, h2, h3 {
  font-weight: 600;
}

.content-wrapper{
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 30px;
  border-radius: 12px;
  margin: 30px auto;
  max-width: 1400px;
  backdrop-filter: blur(5px);
}